* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0066ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

h1.cim {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

label {
    float: left;
    display: block;
    margin: 15px 0 5px; /* Adjust the spacing */
    font-size: 14px;
    color: #333;
}

input[type="number"] {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px 0 20px; /* Add bottom margin for spacing */
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px;
    margin: 10px 0; /* Adjust the margin */
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button:focus {
    outline: none;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

thead {
    background-color: #007bff;
    color: white;
}

td, th {
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

p {
    color: #777;
    font-size: 14px;
    margin-top: 20px;
    float: left;
}
